services:
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - ./src:/src
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - DEBUG=${DEBUG}
      - EMAIL_HOST=${EMAIL_HOST}
      - EMAIL_HOST_USER=${EMAIL_HOST_USER}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
      - SERVER_EMAIL=${SERVER_EMAIL}
    command: sh -c "cd /src && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
    restart: unless-stopped 